
    @* Navbar colors are defined in bootstrap.css under #NavColor *@

<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:white; border-bottom-width:0px; border-bottom-color:white;">
    <div class="container">
        <div class="navbar-header" style="width:700px;">
            <a href='https://www.mcn-nsn.gov/' class="navbar-brand" style="">
                <img src='@Url.Content("~/Images/seal_revised100.png")' />
            </a>
            <h1>Muscogee (Creek) Nation</h1>
        </div>
        
    </div>
</div>